In [1]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv('lankershim_trajectories_raw.txt', sep=' ', header=None)
df.columns = ['id', 'frame', 'n_frames_in_dataset', 'epoch', 'local_x', 'local_y', 'global_x', 'global_y', 'length', 'width', 'class', 'speed', 'acc', 'lane', 'origin', 'dest', 'intersection', 'section', 'direction', 'move', 'carind_front', 'carind_rear', 'dist_headway', 'time_headway']

In [28]:
types = {c: None for c in df.columns}
ints  = ['id', 'frame', 'n_frames_in_dataset', 'epoch', 'class', 'lane', 'origin', 'dest', 'intersection', 'section', 'direction', 'move', 'carind_front', 'carind_rear']
for c in df.columns:
    if c in ints:
        types[c]='int64'
    else:
        types[c]='float64'

In [29]:
df = df.astype(types)

In [30]:
df.head()

,id,frame,n_frames_in_dataset,epoch,local_x,local_y,global_x,global_y,length,width,...,origin,dest,intersection,section,direction,move,carind_front,carind_rear,dist_headway,time_headway
0,63,3,394,1118935680200,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
1,63,4,394,1118935680300,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
2,63,5,394,1118935680400,44.624,67.904,6451974.815,1872844.906,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
3,63,6,394,1118935680500,44.659,68.402,6451975.037,1872845.354,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
4,63,7,394,1118935680600,44.140,69.129,6451974.835,1872846.224,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0

In [31]:
df.to_csv('df1.csv', index=False)

In [24]:
df = pd.read_csv('df1.csv')
df.head()

,id,frame,n_frames_in_dataset,epoch,local_x,local_y,global_x,global_y,length,width,...,origin,dest,intersection,section,direction,move,carind_front,carind_rear,dist_headway,time_headway
0,63,3,394,1118935680200,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
1,63,4,394,1118935680300,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
2,63,5,394,1118935680400,44.624,67.904,6451974.815,1872844.906,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
3,63,6,394,1118935680500,44.659,68.402,6451975.037,1872845.354,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
4,63,7,394,1118935680600,44.140,69.129,6451974.835,1872846.224,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0

In [38]:
print(df.id.min())
print(df.id.max())
print(df.id.unique().size)

2
1603
1506

In [48]:
id_sorted  = np.sort(df.id.unique())
id_old2new = {t[1]: t[0]+1 for t in enumerate(id_sorted)}

In [52]:
df['id'] = df['id'].apply(lambda old_id: id_old2new[old_id])

In [53]:
df.head()

,id,frame,n_frames_in_dataset,epoch,local_x,local_y,global_x,global_y,length,width,...,origin,dest,intersection,section,direction,move,carind_front,carind_rear,dist_headway,time_headway
0,45,3,394,1118935680200,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
1,45,4,394,1118935680300,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
2,45,5,394,1118935680400,44.624,67.904,6451974.815,1872844.906,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
3,45,6,394,1118935680500,44.659,68.402,6451975.037,1872845.354,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
4,45,7,394,1118935680600,44.140,69.129,6451974.835,1872846.224,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0

In [54]:
print(df.frame.min())
print(df.frame.max())
print(df.frame.unique().size)

1
11207
11207

In [62]:
##Assert that each vehicle appears at most once in each frame
dup = df[['id','frame']].duplicated()
dup[dup==True].head()

731141    True
731142    True
731143    True
731144    True
731145    True
dtype: bool

In [72]:
df[dup]['local_x'].unique()

array([-22.713, -22.704, -22.696, ...,  47.175,  47.46 ,  49.043])

In [67]:
df[(df['id']==45) & (df['frame']==305)]

,id,frame,n_frames_in_dataset,epoch,local_x,local_y,global_x,global_y,length,width,...,origin,dest,intersection,section,direction,move,carind_front,carind_rear,dist_headway,time_headway
302,45,305,394,1118935710400,49.604,982.165,6452354.887,1873671.138,14.2,7.0,...,102,205,0,3,2,1,0,65,0.00,0.00
731142,45,305,445,1118936730400,-22.704,1602.466,6452411.326,1874280.628,22.0,7.4,...,108,201,0,5,4,1,57,0,68.97,2.14

After checking, there is an inconsistency in the data. Some car ids appear in mulitple frames with different lengths, widths...
According to https://data.transportation.gov/Automobiles/Next-Generation-Simulation-NGSIM-Vehicle-Trajector/8ect-6jqj, "repeats are not associated" so we need to give a new index to the repeated ids!

In [87]:
n_dup_ids = df[dup==True]['id'].unique().size
print("there are %d duplicated ids" %n_dup_ids)

there are 318 duplicated ids

In [89]:
dup_ids = df[dup==True]['id'].unique()
dup_idx = dup[dup==True].index
max_id  = df['id'].max()
dup2new_id = {ind: max_id+i+1 for (i,ind) in enumerate(dup_ids)}

In [92]:
df.loc[dup==True, 'id'] = df.loc[dup==True]['id'].apply(lambda ind: dup2new_id[ind])

In [93]:
df[dup==True].head()

,id,frame,n_frames_in_dataset,epoch,local_x,local_y,global_x,global_y,length,width,...,origin,dest,intersection,section,direction,move,carind_front,carind_rear,dist_headway,time_headway
731141,1507,304,445,1118936730300,-22.713,1604.702,6452410.659,1874282.762,22.0,7.4,...,108,201,0,5,4,1,57,62,68.07,2.11
731142,1507,305,445,1118936730400,-22.704,1602.466,6452411.326,1874280.628,22.0,7.4,...,108,201,0,5,4,1,57,0,68.97,2.14
731143,1507,306,445,1118936730500,-22.696,1600.230,6452411.993,1874278.494,22.0,7.4,...,108,201,0,5,4,1,57,0,69.97,2.17
731144,1507,307,445,1118936730600,-24.190,1589.329,6452412.501,1874275.372,22.0,7.4,...,108,201,0,5,4,1,57,0,62.34,1.94
731145,1507,308,445,1118936730700,-23.468,1587.213,6452413.168,1874273.238,22.0,7.4,...,108,201,0,5,4,1,57,0,63.50,1.97

In [94]:
dup2 = df[['id','frame']].duplicated()
dup2[dup2==True].head()

Series([], dtype: bool)

Now every car appears at most once in each frame. Checking if lengths and widths are the same...

In [97]:
lw = df[['id','length','width']].duplicated(keep=False)
assert(len(df[lw==True])==len(df))

Test passed! --> every id now corresponds to a unique vehicle

Recompute n_frames_in_dataset

In [98]:
df.head()

,id,frame,n_frames_in_dataset,epoch,local_x,local_y,global_x,global_y,length,width,...,origin,dest,intersection,section,direction,move,carind_front,carind_rear,dist_headway,time_headway
0,45,3,394,1118935680200,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
1,45,4,394,1118935680300,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
2,45,5,394,1118935680400,44.624,67.904,6451974.815,1872844.906,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
3,45,6,394,1118935680500,44.659,68.402,6451975.037,1872845.354,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
4,45,7,394,1118935680600,44.140,69.129,6451974.835,1872846.224,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0

In [102]:
id2frames = {ind: len(df[df.id==ind]) for ind in df.id.unique()}

In [108]:
df['n_frames_in_dataset'] = df['id'].apply(lambda ind: id2frames[ind])

In [109]:
df.head()

,id,frame,n_frames_in_dataset,epoch,local_x,local_y,global_x,global_y,length,width,...,origin,dest,intersection,section,direction,move,carind_front,carind_rear,dist_headway,time_headway
0,45,3,746,1118935680200,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
1,45,4,746,1118935680300,44.589,67.404,6451974.592,1872844.458,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
2,45,5,746,1118935680400,44.624,67.904,6451974.815,1872844.906,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
3,45,6,746,1118935680500,44.659,68.402,6451975.037,1872845.354,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0
4,45,7,746,1118935680600,44.140,69.129,6451974.835,1872846.224,14.2,7.0,...,102,205,1,0,2,3,0,0,0.0,0.0

Also modify carind_front and carind_rear

In [112]:
df['carind_front'].unique().size
df['carind_front'].min()
df['carind_front'].max()

1603

In [114]:
id_old2new[0]=0

In [117]:
df['carind_front'] = df['carind_front'].apply(lambda old_id: id_old2new[old_id])
df['carind_rear'] = df['carind_rear'].apply(lambda old_id: id_old2new[old_id])

In [120]:
print(df['carind_front'].unique().size)
print(df['carind_front'].min())
print(df['carind_front'].max())

1444
0
1506

The only issue is that we don't know if these indices are consistent... But there's no real way to find out... Fortunately these columns are never used in the code

In [123]:
df.to_csv('df_clean.csv', index=None)

In [125]:
df.to_csv('lankershim_trajectories_clean.txt', sep=' ', header=None, index=None)

In [169]:
dff = df.sort_values(by=['id','frame']).reset_index()
dff[dff.frame==557][:100]

,index,id,frame,n_frames_in_dataset,epoch,local_x,local_y,global_x,global_y,length,...,origin,dest,intersection,section,direction,move,carind_front,carind_rear,dist_headway,time_headway
556,705850,1,557,965,1118936755600,38.656,313.641,6452067.925,1873077.778,15.7,...,102,208,0,2,2,1,0,7,0.00,0.00
1875,707169,3,557,926,1118936755600,28.998,291.301,6452049.728,1873061.616,16.8,...,102,208,0,2,2,1,0,8,0.00,0.00
3238,708532,7,557,932,1118936755600,38.258,291.415,6452058.168,1873057.805,17.8,...,102,208,0,2,2,1,1,10,22.23,9999.99
4170,709464,8,557,950,1118936755600,27.107,268.789,6452038.497,1873042.015,18.6,...,102,208,0,2,2,1,3,14,22.51,9999.99
5120,710414,10,557,981,1118936755600,38.358,261.954,6452045.803,1873031.064,20.2,...,102,208,0,2,2,1,7,12,29.46,9999.99
6534,711828,12,557,1288,1118936755600,36.471,225.222,6452029.924,1872999.769,13.7,...,102,208,0,2,2,1,10,15,36.73,114.79
7822,713116,13,557,926,1118936755600,18.397,290.665,6452039.850,1873065.518,16.9,...,102,208,0,2,2,1,1502,18,0.00,0.00
8735,714029,14,557,881,1118936755600,28.395,245.979,6452030.020,1873020.799,19.8,...,102,208,0,2,2,1,8,16,22.81,9999.99
9607,714901,15,557,1297,1118936755600,35.046,206.207,6452021.351,1872982.736,17.7,...,102,208,0,2,2,1,12,17,19.02,9999.99
10897,716191,16,557,854,1118936755600,25.831,219.085,6452017.747,1872998.156,12.6,...,102,205,0,2,2,1,14,20,26.89,9999.99
11736,717030,17,557,814,1118936755600,34.482,183.701,6452012.242,1872962.148,15.3,...,102,204,0,2,2,1,15,22,22.51,9999.99
12550,717844,18,557,894,1118936755600,18.679,266.496,6452029.889,1873043.500,14.8,...,102,208,0,2,2,1,13,21,24.17,604.23
13420,718714,19,557,548,1118936755600,-44.369,659.247,6452154.167,1873418.470,18.8,...,104,211,0,3,4,1,0,25,0.00,0.00
13968,719262,20,557,1213,1118936755600,22.806,198.334,6452007.033,1872980.129,14.9,...,102,208,0,2,2,1,16,101,20.75,9999.99
15156,720450,21,557,1193,1118936755600,17.044,245.760,6452019.641,1873025.399,17.5,...,102,208,0,2,2,1,18,64,20.74,9999.99
16343,721637,22,557,1247,1118936755600,32.096,159.745,6452000.895,1872940.915,20.6,...,102,208,0,2,2,1,17,23,23.96,9999.99
17571,722865,23,557,1139,1118936755600,31.063,133.109,6451989.777,1872916.689,14.9,...,102,207,0,2,2,1,22,82,26.64,9999.99
18730,724024,25,557,536,1118936755600,-43.346,692.233,6452169.445,1873447.803,20.1,...,108,201,0,3,4,1,19,38,32.99,3.62
19266,724560,26,557,488,1118936755600,-25.238,589.071,6452140.935,1873346.974,23.2,...,108,201,0,3,4,1,41,51,70.63,2.89
19754,725048,27,557,404,1118936755600,-15.789,507.915,6452114.191,1873269.744,21.7,...,108,203,0,3,4,1,0,0,0.00,0.00
20667,725961,32,557,449,1118936755600,51.546,352.805,6452094.337,1873101.382,29.2,...,101,203,2,0,2,3,0,0,0.00,0.00
21116,726410,33,557,521,1118936755600,49.818,262.232,6452056.306,1873026.471,16.3,...,102,203,0,2,2,1,43,0,27.61,306.79
21626,726920,34,557,388,1118936755600,-35.095,511.315,6452098.289,1873281.216,18.5,...,108,201,0,3,2,1,0,40,0.00,0.00
22208,727502,36,557,291,1118936755600,45.620,1600.604,6452477.162,1874298.994,15.5,...,111,208,0,5,2,1,0,1501,0.00,0.00
22499,727793,37,557,466,1118936755600,50.485,314.156,6452078.863,1873073.244,19.0,...,101,203,0,2,2,1,0,43,0.00,0.00
22965,728259,38,557,466,1118936755600,-43.708,726.984,6452184.190,1873479.219,17.3,...,108,211,0,3,4,1,25,42,34.75,4.89
23422,728716,39,557,447,1118936755600,-34.324,643.219,6452156.221,1873399.599,22.1,...,108,201,0,3,4,1,40,45,112.18,4.99
23861,729155,40,557,383,1118936755600,-35.229,531.040,6452106.716,1873299.003,22.5,...,108,201,0,3,4,1,34,39,19.72,0.69
24239,729533,41,557,393,1118936755600,-25.502,518.439,6452110.018,1873283.456,21.8,...,108,201,0,3,4,1,0,26,0.00,0.00
24632,729926,42,557,516,1118936755600,-44.297,778.754,6452201.214,1873520.929,18.4,...,108,201,0,3,4,1,38,44,51.77,4.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58962,23947,90,557,742,1118935735600,-6.155,977.523,6452302.737,1873691.323,18.8,...,108,201,0,3,4,1,87,96,90.74,1.98
59702,24687,91,557,428,1118935735600,-29.118,940.896,6452265.188,1873665.957,25.1,...,108,211,0,3,4,1,89,94,63.98,1.73
60129,25114,92,557,482,1118935735600,-40.667,806.345,6452210.814,1873539.681,22.9,...,108,201,0,3,4,1,85,89,66.82,1.70
60598,25583,93,557,743,1118935735600,-10.528,1041.354,6452330.325,1873750.115,18.4,...,108,201,3,0,4,1,96,95,38.96,0.99
61341,26326,94,557,521,1118935735600,-30.337,1034.400,6452310.149,1873755.941,20.1,...,108,201,3,0,4,1,91,98,93.50,2.39
61850,26835,95,557,413,1118935735600,-19.132,1098.625,6452355.624,1873800.406,18.1,...,108,203,3,0,4,1,93,99,57.27,1.15
62263,27248,96,557,1108,1118935735600,-7.789,1002.390,6452311.816,1873714.143,20.6,...,108,203,0,3,4,1,90,93,24.87,0.55
63368,27646,97,557,248,1118935735600,30.345,954.815,6452325.932,1873655.238,14.5,...,103,208,0,3,2,1,0,104,0.00,0.00
63613,27891,98,557,1121,1118935735600,-41.449,1103.265,6452338.932,1873815.436,23.1,...,108,201,3,0,4,1,94,100,68.87,1.34
64716,28411,99,557,1022,1118935735600,-16.864,1148.889,6452375.896,1873843.308,16.6,...,108,201,0,4,4,1,95,102,50.26,1.17
65738,29433,100,557,397,1118935735600,-36.782,1191.614,6452373.622,1873890.424,19.3,...,108,210,0,4,4,1,98,103,88.35,2.38
66082,749251,101,557,896,1118936755600,22.226,142.827,6451985.325,1872929.071,16.0,...,101,208,0,2,2,1,20,0,55.51,4.05
67013,29585,102,557,929,1118935735600,-15.372,1234.571,6452406.991,1873921.777,16.4,...,108,203,0,4,4,1,99,106,85.68,1.87
67942,30021,103,557,624,1118935735600,-39.744,1277.812,6452396.950,1873970.389,19.9,...,108,201,0,4,4,1,100,105,86.20,2.05
68553,30632,104,557,394,1118935735600,16.132,528.578,6452148.935,1873268.327,16.0,...,103,208,0,3,2,1,97,58,426.24,11.16
68947,30902,105,557,529,1118935735600,-38.277,1351.498,6452406.958,1874034.067,18.8,...,108,201,0,4,4,1,103,109,73.69,1.94
69470,31425,106,557,935,1118935735600,-19.949,1296.244,6452420.910,1873980.323,24.7,...,108,203,0,4,4,1,102,110,61.67,1.20
70339,752935,107,557,374,1118936755600,-20.854,1553.224,6452414.894,1874239.204,14.1,...,108,201,4,0,4,1,98,0,154.65,3.56
70713,753309,108,557,805,1118936755600,-10.318,1573.728,6452425.959,1874259.344,18.8,...,108,201,4,0,4,1,103,0,122.54,2.94
71559,31827,109,557,878,1118935735600,-27.618,1422.196,6452411.262,1874096.895,18.3,...,108,201,0,4,4,1,105,114,70.70,2.21
72437,32342,110,557,932,1118935735600,-8.611,1407.581,6452432.221,1874085.201,17.9,...,108,203,0,4,4,1,106,111,111.34,2.89
73360,33265,111,557,1047,1118935735600,-1.362,1466.020,6452434.580,1874144.824,17.9,...,108,203,0,4,4,1,110,113,58.44,1.49
74388,34189,112,557,297,1118935735600,-35.341,413.729,6452049.737,1873193.489,16.0,...,111,208,2,0,1,2,0,0,0.00,0.00
74668,34469,113,557,932,1118935735600,-12.530,1611.253,6452420.479,1874285.474,19.2,...,108,203,0,5,4,1,111,0,145.23,2.83
75600,35401,114,557,484,1118935735600,-40.849,1594.313,6452395.799,1874273.936,17.3,...,108,201,0,5,4,1,109,0,172.12,3.28
76082,35884,115,557,439,1118935735600,-25.095,1625.632,6452404.232,1874295.509,20.0,...,108,201,0,5,4,1,88,0,688.43,13.41
76521,36322,116,557,1156,1118935735600,17.050,18.437,6451928.240,1872809.446,15.0,...,101,208,1,0,2,1,74,0,280.39,8.42
1382011,695476,1365,557,935,1118935735600,33.953,1102.718,6452404.930,1873779.799,24.0,...,103,208,3,0,2,1,0,0,0.00,0.00
1490310,1605587,1500,557,193,1118936755600,23.803,1273.543,6452458.268,1873953.480,17.0,...,108,206,0,4,1,2,0,0,0.00,0.00
1490416,1605693,1501,557,142,1118936755600,41.560,1370.707,6452486.292,1874062.885,16.0,...,105,208,0,4,2,1,36,0,229.90,5.51

In [167]:
dff.iloc[45791:].head()

,index,id,frame,n_frames_in_dataset,epoch,local_x,local_y,global_x,global_y,length,...,origin,dest,intersection,section,direction,move,carind_front,carind_rear,dist_headway,time_headway
45791,14175,70,206,496,1118935700500,49.490,61.700,6451976.902,1872837.210,13.8,...,102,203,1,0,2,3,0,0,0.0,0.0
45792,14176,70,207,496,1118935700600,47.966,63.711,6451976.304,1872839.756,13.8,...,102,203,1,0,2,3,0,0,0.0,0.0
45793,14177,70,208,496,1118935700700,46.613,65.972,6451975.916,1872842.362,13.8,...,102,203,1,0,2,3,0,0,0.0,0.0
45794,14178,70,209,496,1118935700800,45.292,68.249,6451975.564,1872844.970,13.8,...,102,203,1,0,2,3,0,0,0.0,0.0
45795,14179,70,210,496,1118935700900,44.004,70.541,6451975.248,1872847.581,13.8,...,102,203,1,0,2,3,0,0,0.0,0.0

In [170]:
lo = 45792#3
framestart = 206
frame = 704
retval = frame-framestart + lo -1
print(retval)
nframes = 496
print(lo+nframes+1)
# dff[dff.id==70]#[390:500]

46289
46289

In [155]:
dff.iloc[5670]

index                  7.068300e+05
id                     3.000000e+00
frame                  2.180000e+02
n_frames_in_dataset    9.260000e+02
epoch                  1.118937e+12
local_x                2.782500e+01
local_y                2.912700e+02
global_x               6.452049e+06
global_y               1.873062e+06
length                 1.680000e+01
width                  8.100000e+00
class                  2.000000e+00
speed                  0.000000e+00
acc                    0.000000e+00
lane                   2.000000e+00
origin                 1.020000e+02
dest                   2.080000e+02
intersection           0.000000e+00
section                2.000000e+00
direction              2.000000e+00
move                   1.000000e+00
carind_front           0.000000e+00
carind_rear            8.000000e+00
dist_headway           0.000000e+00
time_headway           0.000000e+00
Name: 5670, dtype: float64